#about-doulas {
	//local variables
	$margin-width: 20px;
	$what-active-height: 400px;
	$why-active-height: 500px;

	.full-width {
		margin-right: -15px;
		margin-left: -15px;
	}

	.selector {
		$margin-width: 20px;
		vertical-align: top;
		display: inline-block;
		width: calc(50% - #{$margin-width} * 2);
    margin: $margin-width;
		transition: all 0.5s;

		&.active {
			width: calc(75% - #{$margin-width} * 2);

			#what, #why {
				cursor: default;
				.about-border-wrapper {
					padding-top: 40px;

					> .selector-content {
						display: block;
					}
				}
			}

			#what {
				height: $what-active-height;
			}

			#why {
				height: $why-active-height;
			}
		}

		&.inactive {
			width: calc(25% - #{$margin-width} * 2);

			#what, #why {
				.about-border-wrapper {
					padding-top: 107px;
					> h3 {
						display: none;
					}

					> i {
						display: block;
						font-size: 48px;
					}
				}
			}

			#what {
				height: $why-active-height;
			}

			#why {
				height: $what-active-height;
			}
		}
	}	

	#why {
		background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url('http://res.cloudinary.com/calebscloud/image/upload/v1506371325/eric-froehling-71131_d1boha.jpg');
	}
	#what {
		background: linear-gradient(rgba(0,0,0,0.65),rgba(0,0,0,0.65)),url('http://res.cloudinary.com/calebscloud/image/upload/v1506371329/kelly-sikkema-325963_nqt8qd.jpg');
	}

	#what, #why {
		cursor: pointer;
		padding: 40px;
		border-radius: 0px;
		color: $white;
		background-size: cover;
		background-position: center;
		height: 360px;

		.about-border-wrapper {
			height: 100%;
			border: 2px solid $white;
			padding: 40px;
			padding-top: 120px;

			> h3 {
				display: block;
			}

			> i,
			.selector-content {
				display: none;
			}

			.selector-content {
				ul {
					text-align: left;
				}
			}
		}
	}
}