// Styling for the contact section
section#contact {
  background-color: $gray-darker;
  background-image: linear-gradient(rgba(255,255,255,0.45),rgba(255,255,255,0.45)), url('http://res.cloudinary.com/calebscloud/image/upload/c_crop,w_3334,x_0,y_479/v1506369675/veronika-lykova-299582_reb8rb.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  .section-heading {
    // color: white;
  }
  .form-group {
    margin-bottom: 25px;
    input,
    textarea {
      padding: 20px;
    }
    input.form-control {
      height: auto;
    }
    textarea.form-control {
      height: 236px;
    }
  }
  .form-control:focus {
    border-color: $theme-primary;
    box-shadow: none;
  }
  ::-webkit-input-placeholder {
    font-weight: 700;
    color: $gray-light;
    @include heading-font;
  }
  :-moz-placeholder {
    font-weight: 700;
    color: $gray-light;
    /* Firefox 18- */
    @include heading-font;
  }
  ::-moz-placeholder {
    font-weight: 700;
    color: $gray-light;
    /* Firefox 19+ */
    @include heading-font;
  }
  :-ms-input-placeholder {
    font-weight: 700;
    color: $gray-light;
    @include heading-font;
  }
  .text-danger {
    color: $theme-danger;
  }
}
