// Styling for the masthead
header.masthead {
  text-align: center;
  color: $gray-base;
  background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)),url('https://media.istockphoto.com/photos/happy-mother-and-baby-playing-at-home-in-bedroom-cozy-family-in-picture-id675760466?s=2048x2048');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;
  .header-wrapper {
    padding: 30px;
    .thick-border-wrapper {
      border: solid $gray-base 3px;
      padding: 15px;
      .thin-border-wrapper {
        border: solid $gray-base 2px;
        padding-top: 30px;
        padding-bottom: 20px;
        .icon-footprints {
          font-size: 40px;
        }
        .intro-heading {
          font-size: 32px;
          font-weight: 700;
          line-height: 50px;
          margin-bottom: 10px;
          @include heading-font;
        }
        .intro-sub-heading {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .header-wrapper {
      .thick-border-wrapper {
        .thin-border-wrapper {
          padding-top: 200px;
          padding-bottom: 200px;
          .icon-footprints {
            padding-bottom: 20px;
            font-size: 60px;
          }
          .intro-heading {
            font-size: 75px;
            font-weight: 700;
            line-height: 75px;
            margin-bottom: 30px;
            @include heading-font;
          }
          .intro-sub-heading {
            margin-bottom: 40px;
            font-size: 26px;
          }
        }
      }
    }
  }
}
