// Styling for the masthead
header.masthead {
  text-align: center;
  color: $gray-dark;
  background: linear-gradient(rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.45)),
  url('http://res.cloudinary.com/calebscloud/image/upload/v1515977183/iStock-675760466_bwkdhl.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  @include background-cover;

  .wrapper-left {
    width: 50%

  }
  .header-wrapper {
    padding: 30px;
    .thick-border-wrapper {
      border: solid $gray-dark 3px;
      padding: 15px;
      .thin-border-wrapper {
        border: solid $gray-dark 2px;
        padding-top: 30px;
        padding-bottom: 20px;
        .icon-footprints {
          font-size: 40px;
        }
        .intro-heading,
        .intro-sub-heading {
          font-size: 24px;
          font-weight: 300;
          line-height: 28px;
          margin-bottom: 0px;
          @include heading-font;
        }
        .intro-sub-heading {
          color: $gray-light;
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media(min-width:768px) {
  header.masthead {
    .header-wrapper {
      .thick-border-wrapper {
        .thin-border-wrapper {
          padding-top: 100px;
          padding-bottom: 100px;
          .icon-footprints {
            padding-bottom: 20px;
            font-size: 80px;
          }
          .intro-heading,
          .intro-sub-heading {
            font-size: 50px;
            font-weight: 300;
            line-height: 56px;
            margin-bottom: 0px;
            text-transform: uppercase;
            @include heading-font;
          }
          .intro-sub-heading {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}
