// Styling for the services section
.service-heading {
  margin: 15px 0;
  text-transform: none;
  line-height: 1.5em;
}
#services {
  .icon-prenatal {
    font-size: 75px;
    top: 7px;
    left: -1px;
  }
  .icon-childbirth {
    top: 10px;
    font-size: 100px;
  }
}