@font-face {
  font-family: 'Amelia Script';
  src: url('amelia-script.woff') format('woff');
}

@font-face {
  font-family: 'icomoon';
  src:  url('icomoon.eot?fsb5mq');
  src:  url('icomoon.eot?fsb5mq#iefix') format('embedded-opentype'),
    url('icomoon.ttf?fsb5mq') format('truetype'),
    url('icomoon.woff?fsb5mq') format('woff'),
    url('icomoon.svg?fsb5mq#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-postpartum:before {
  content: "\e901";
}
.icon-prenatal:before {
  content: "\e902";
}
.icon-childbirth:before {
  content: "\e903";
}
.icon-footprints:before {
  content: "\e900";
}
