//What and Why Sections
section#about-doulas
  .container
    .row.text-center
      .col-md-6
        a(data-toggle='modal', href='#whatModal')
          .btn-featured
            | What Is 
            br 
            | A Doula?
      .col-md-6
        a(data-toggle='modal', href='#whyModal')
          .btn-featured
            | Why Have 
            br
            | A Doula?