//What and Why Sections
section#about-doulas.bg-light
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading About Doulas
        h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    //- .row.text-center
    //-   .col-md-6
    //-     a(data-toggle='modal', href='#whatModal')
    //-       #what
    //-         | What Is a Doula?
    //-   .col-md-6
    //-     a(data-toggle='modal', href='#whyModal')
    //-       #why
    //-         | Why Have a Doula?
    .row.text-center
      .col-md-6
        //- a(data-toggle='modal', href='#whatModal')
        #what
          h3 What Is a Doula?
          p Doula (n): a Greek word meaning
            i woman caregiver
            | ; a trained childbirth companion
          p A birth doula is a person who assists women and their partners in preparing for childbirth by providing emotional support and information as well as physical comfort to a woman before, during and just after childbirth.
      .col-md-6
        //- a(data-toggle='modal', href='#whyModal')
        #why
          h3 Why Have a Doula?
          p With continuous support from a Doula, women experienced
          ul
            li 31% decrease in the use of Pitocin
            li 28% decrease in the risk of Cesarean
            li 12% increase in the likelihood of a spontaneous vaginal birth
            li 9% decrease in the use of any medications for pain relief
            li 14% decrease in the risk of newborns being admitted to a special care nursery
            li 34% decrease in the risk of being dissatisfied with the birth experience