//What and Why Sections
section#about-doulas.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading About Doulas
        h3.section-subheading.text-muted Commonly asked questions
    
    .full-width.text-center
      .selector
        #what
          .about-border-wrapper
            h3 What Is a Doula?
            i.fa.fa-angle-right
            .selector-content
              //- p A birth doula is a person who assists women and their partners in preparing for childbirth by providing emotional support, information as well as physical comfort to a woman before, during and just after childbirth. The Greek word Doula means woman caregiver or more literally, woman servant and is used today to describe a trained labor companion.
              p Doula (n): a Greek word meaning
                i woman caregiver
                | ; a trained childbirth companion
              p A birth doula is a person who assists women and their partners in preparing for childbirth by providing emotional support and information as well as physical comfort to a woman before, during and just after childbirth.
      .selector
        #why
          .about-border-wrapper
            h3 Why Have a Doula?
            i.fa.fa-angle-left
            .selector-content
              p The positive outcomes of using a birth doula are evidence based and highly supported by research. With continuous support from a Doula, women experienced
              ul
                li 31% decrease in the use of Pitocin
                li 28% decrease in the risk of Cesarean
                li 12% increase in the likelihood of a spontaneous vaginal birth
                li 9% decrease in the use of any medications for pain relief
                li 14% decrease in the risk of newborns being admitted to a special care nursery
                li 34% decrease in the risk of being dissatisfied with the birth experience