//What and Why Sections
section#about-doulas.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading About Doulas
        h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    
    .full-width.text-center
      .selector
        #what
          .about-border-wrapper
            h3 What Is a Doula?
            i.fa.fa-angle-right
            .selector-content
              p Doula (n): a Greek word meaning
                i woman caregiver
                | ; a trained childbirth companion
              p A birth doula is a person who assists women and their partners in preparing for childbirth by providing emotional support and information as well as physical comfort to a woman before, during and just after childbirth.
      .selector
        #why
          .about-border-wrapper
            h3 Why Have a Doula?
            i.fa.fa-angle-left
            .selector-content
              p With continuous support from a Doula, women experienced
              ul
                li 31% decrease in the use of Pitocin
                li 28% decrease in the risk of Cesarean
                li 12% increase in the likelihood of a spontaneous vaginal birth
                li 9% decrease in the use of any medications for pain relief
                li 14% decrease in the risk of newborns being admitted to a special care nursery
                li 34% decrease in the risk of being dissatisfied with the birth experience
    
    //- #accordion(role="tablist" aria-multiselectable="false")
    //-   .card
    //-     .card-header#headingOne(role="tab")
    //-       h5.mb-0
    //-         a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne") Collapsible Group Item #1
    //-     #collapseOne.collapse(role="tabpanel" aria-labelledby="headingOne")
    //-       .card-block Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
    //-   .card
    //-     .card-header(role="tab" id="headingTwo")
    //-       h5.mb-0
    //-         a.collapsed(data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo") Collapsible Group Item #2
    //-     #collapseTwo.collapse(role="tabpanel" aria-labelledby="headingTwo")
    //-       .card-block Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.