//What and Why Sections
section#about-doulas
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading About Doulas
        h3.section-subheading.text-muted Commonly asked questions
    
    .row
      .col-md-6
        #what
          .about-border-wrapper
            h4.text-center.service-heading What Is a Doula?
            //- p Doula (n): a Greek word meanin <i> woman caregiver</i>
            p.text-muted.text-center A Doula is a trained childbirth companion who:
            ul.text-muted
              li Assists women and their partners preparing for childbirth.
              li Provides continuous emotional, informational, and physical support and comfort measures before, during, and just after labor and delivery.
              li Serves women in the immediate postpartum period to address concerns and assist them in processing their birth experience.
            //- p Doula (n): a Greek word meaning
            //-   i woman caregiver
            //-   | ; a trained childbirth companion
            //- p A birth doula is a person who assists women and their partners in preparing for childbirth by providing emotional support and information as well as physical comfort to a woman before, during and just after childbirth.
      
      .col-md-6
        #why
          .about-border-wrapper
            h4.text-center.service-heading Why Have a Doula?

            p.text-muted.text-center You may want to have a doula if:
            ul.text-muted
              li You view the task ahead of you as both exciting and terrifying at the same time.
              li You want <i>more</i> out of your pregnancy and childbirth experience.
              li You see pregnancy, childbirth and parenthood as an opportunity for self-growth and discovery.