// Team
section#about-me.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Meet the Doula
        h3.section-subheading.text-muted
    .row
      .col-md-4
        .team-member
          img.mx-auto.rounded-circle(src='http://res.cloudinary.com/calebscloud/image/upload/c_fill,h_222,w_222/v1557237157/IMG_20190422_130747_421_pjgscg.jpg', alt='')
          h4 Jennifer Gray
          p.text-muted CD(DONA), MSW
          br
          p.text-muted Serving the areas of DeKalb/Sycamore, Rockford, and Western Suburbs of Chicago
          //- ul.list-inline.social-buttons
          //-   li.list-inline-item
          //-     a(href='#')
          //-       i.fa.fa-twitter
          //-   li.list-inline-item
          //-     a(href='#')
          //-       i.fa.fa-facebook
          //-   li.list-inline-item
          //-     a(href='#')
          //-       i.fa.fa-linkedin
      .col-md-8
        p.text-muted The growth, nurturing and beginning of a new life combined with the transformation that occurs in the heart and mind of a new parent have fascinated and awed me since my own first pregnancy and the birth of my son in 2016. 
        p.text-muted With a background in Mental Health and a Master’s of Social Work from the University of Illinois at Urbana-Champaign, where I worked for the university’s counseling center, navigating the equal parts exciting and terrifying process of preparing for birth and my baby became a calling to help others do the same. In 2017, I completed my training and certification as a Birth Doula with DONA International. Since then, I have accompanied families in welcoming their children in a variety of birth settings; hospital births as well as homebirths and birthing center births, both under the care of midwives. Given my mental healthcare background, I have a particular passion for perinatal mental health support and education. Today, it is both an honor and a deeply felt calling of mine to educate and support families in perhaps the greatest transition of their lives…that of welcoming a new life! My hope is that each of my clients will look back on their birth experiences having felt safe and nurtured as well as strong, capable and emboldened to care for their children with the same ferocity with which they brought them into the world.
        p.text-muted Between births you can find me reading, cooking, dancing with my two young children (who like a good beat as much as their mama), spending time with my sweet husband Caleb and our friends and enjoying life at home in Sycamore.

        



