// Team
section#about-me
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading About Me
        h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row
      .col-sm-4
        .team-member
          img.mx-auto.rounded-circle(src='http://res.cloudinary.com/calebscloud/image/upload/c_fill,h_222,w_222/v1506371375/image_2_ozglnf.jpg', alt='')
          h4 
            span Jennifer
            span Gray
          p.text-muted Birth Doula
          //- ul.list-inline.social-buttons
          //-   li.list-inline-item
          //-     a(href='#')
          //-       i.fa.fa-twitter
          //-   li.list-inline-item
          //-     a(href='#')
          //-       i.fa.fa-facebook
          //-   li.list-inline-item
          //-     a(href='#')
          //-       i.fa.fa-linkedin
      .col-sm-8
        p.text-muted Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dignissim massa in odio imperdiet, eget malesuada urna sollicitudin. Phasellus quis aliquam augue. Nulla porttitor sollicitudin enim blandit condimentum. Vestibulum nec ligula porta, bibendum mauris sed, lacinia tortor. Donec accumsan metus eget leo efficitur, non euismod dui pellentesque. Ut pellentesque augue urna, sit amet malesuada tellus vehicula ut. Curabitur ipsum eros, congue et odio eu, efficitur viverra sem. Aliquam mauris leo, sollicitudin sit amet sem id, pulvinar pretium mi. Quisque porta eget erat nec tempus. Duis imperdiet nisl id justo molestie rutrum. Etiam luctus odio eget consequat tristique. Aliquam id nibh posuere, convallis ipsum et, dictum enim.