// Team
section#about-me.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Meet the Doula
        h3.section-subheading.text-muted
    .row
      .col-md-4
        .team-member
          img.mx-auto.rounded-circle(src='http://res.cloudinary.com/calebscloud/image/upload/c_fill,h_222,w_222/v1506371375/image_2_ozglnf.jpg', alt='')
          h4 Jennifer Gray
          p.text-muted CD (DONA), MSW
          br
          p.text-muted Serving the areas of DeKalb/Sycamore, Rockford, and Western Suburbs of Chicago
          //- ul.list-inline.social-buttons
          //-   li.list-inline-item
          //-     a(href='#')
          //-       i.fa.fa-twitter
          //-   li.list-inline-item
          //-     a(href='#')
          //-       i.fa.fa-facebook
          //-   li.list-inline-item
          //-     a(href='#')
          //-       i.fa.fa-linkedin
      .col-md-8
        p.text-muted That a woman’s body is able to grow, nurture and manifest life is truly amazing. Since my own pregnancy and the birth of my son in 2016, I have been fascinated and awed by birth.
        p.text-muted I graduated Magna Cum Laude from Franciscan University in 2012 and then completed my Masters of Social Work at the University of Illinois, Urbana-Champaign, specializing in Mental Health. In March of 2017, I completed my training as Birth Doula with DONA International. Today, it is both an honor and a deeply felt calling of mine to educate and support women and their families in perhaps the greatest transition of their lives…that of welcoming a new life! My hope is that each of my clients will look back on her birth experience having felt safe and nurtured as well as strong, capable and emboldened to care for her children with the same ferocity with which she brought them into the world.
        p.text-muted Between births you can find me reading, cooking, dancing with my toddler (who likes a good beat as much as his mama), spending time with my sweet husband Caleb and our friends and enjoying life at home in Sycamore.