//What and Why Sections
section#services
  .container
    .row.text-center
      .col-md-6
        h4.service-heading What Is A Doula?
        p.text-muted
          | Make this a big modal button with only title on button
      .col-md-6
        h4.service-heading Why Have A Doula?
        p.text-muted
          | Make this a big modal button with only title on button