//What and Why Sections
section#about-doulas.bg-light
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading About Doulas
        h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row.text-center
      .col-md-6
        a(data-toggle='modal', href='#whatModal')
          #what
            | What Is 
            br 
            | A Doula?
      .col-md-6
        a(data-toggle='modal', href='#whyModal')
          #why
            | Why Have 
            br
            | A Doula?