section#benefits.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Benefits of a Doula
        h3.section-subheading.text-muted Evidence based and highly supported by research.
        p.text-muted.text-center With continuous support from a Doula, women experienced:
        .row
          .col-md-4.col-xs-6
            .c100.p31.big
              span 31%
              .slice
                .bar
                .fill
            p.text-center.text-muted decrease in the use of Pitocin
          .col-md-4.col-xs-6
            .c100.p28.big
              span 28%
              .slice
                .bar
                .fill
            p.text-center.text-muted decrease in the risk of Cesarean
          .col-md-4.col-xs-6
            .c100.p34.big
              span 34%
              .slice
                .bar
                .fill
            p.text-center.text-muted decrease in the risk of being dissatisfied with the birth experience
          .col-md-4.col-xs-6
            .c100.p12.big
              span 12%
              .slice
                .bar
                .fill
            p.text-center.text-muted increase in the likelihood of a spontaneous vaginal birth
          .col-md-4.col-xs-6
            .c100.p9.big
              span 9%
              .slice
                .bar
                .fill
            p.text-center.text-muted decrease in the use of any medications for pain relief
          .col-md-4.col-xs-6
            .c100.p14.big
              span 14%
              .slice
                .bar
                .fill
            p.text-center.text-muted decrease in the risk of newborns being admitted to a special care nursery