// Footer
footer
  .container
    .row
      .col-md-4
      .col-md-4
        span.copyright.text-center Copyright © Jennifer Gray Doula 2017
      .col-md-4
        //- ul.list-inline.quicklinks
        //-   li.list-inline-item
        //-     a(href='#') Privacy Policy
        //-   li.list-inline-item
        //-     a(href='#') Terms of Use