// Header
header.masthead
  .header-wrapper
    .thick-border-wrapper
      .thin-border-wrapper
        .icon-footprints
        .intro-heading
          span Jennifer Gray
        .intro-sub-heading.text-muted Birth Doula
        a.btn.btn-xl.js-scroll-trigger.hidden-xs(href='#contact') Contact Me