// Header
header.masthead
  .container
    .intro-text
      .intro-lead-in Welcome To Our Studio!
      .intro-heading It's Nice To Meet You
      a.btn.btn-xl.js-scroll-trigger(href='#services') Tell Me More