// Header
header.masthead
  .header-wrapper
    .thick-border-wrapper
      .thin-border-wrapper
        .icon-footprints
        .intro-heading
          span Jennifer
          span Gray
        .intro-sub-heading Birth Doula
        a.btn.btn-xl.js-scroll-trigger(href='#services') Services
        a.btn.btn-xl.js-scroll-trigger(href='#about-doulas') About Doulas
        a.btn.btn-xl.js-scroll-trigger(href='#team') About Me
        a.btn.btn-xl.js-scroll-trigger(href='#contact') Contact