// Portfolio Grid
section#portfolio.bg-light
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Portfolio
        h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(data-toggle='modal', href='#portfolioModal1')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-fluid(src='img/portfolio/01-thumbnail.jpg', alt='')
        .portfolio-caption
          h4 Threads
          p.text-muted Illustration
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(data-toggle='modal', href='#portfolioModal2')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-fluid(src='img/portfolio/02-thumbnail.jpg', alt='')
        .portfolio-caption
          h4 Explore
          p.text-muted Graphic Design
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(data-toggle='modal', href='#portfolioModal3')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-fluid(src='img/portfolio/03-thumbnail.jpg', alt='')
        .portfolio-caption
          h4 Finish
          p.text-muted Identity
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(data-toggle='modal', href='#portfolioModal4')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-fluid(src='img/portfolio/04-thumbnail.jpg', alt='')
        .portfolio-caption
          h4 Lines
          p.text-muted Branding
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(data-toggle='modal', href='#portfolioModal5')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-fluid(src='img/portfolio/05-thumbnail.jpg', alt='')
        .portfolio-caption
          h4 Southwest
          p.text-muted Website Design
      .col-md-4.col-sm-6.portfolio-item
        a.portfolio-link(data-toggle='modal', href='#portfolioModal6')
          .portfolio-hover
            .portfolio-hover-content
              i.fa.fa-plus.fa-3x
          img.img-fluid(src='img/portfolio/06-thumbnail.jpg', alt='')
        .portfolio-caption
          h4 Window
          p.text-muted Photography