// Services
section#services
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Services
        h3.section-subheading.text-muted Supporting you from pregnancy to postpartum
    .row.text-center
      .col-md-4
        //- a(data-toggle='modal', href='#servicesModal1')
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa-stack-1x.fa-inverse.icon-prenatal
        h4.service-heading Prenatal Care
        ul.text-muted.text-left
          li Complimentary meet and greet to see if we are a good fit
          li 2 prenatal visits to discuss questions and/or concerns you may have as well as your birth wishes and vision
          li Unlimited support via text, phone or email throughout pregnancy
      .col-md-4
        //- a(data-toggle='modal', href='#servicesModal2')
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa-stack-1x.fa-inverse.icon-childbirth
        h4.service-heading Continuous Labor Support
        ul.text-muted.text-left
          li 24/7 on-call availability in the weeks surrounding your due date
          li Continuous labor support tailored to your particular needs and desires
      .col-md-4
        //- a(data-toggle='modal', href='#servicesModal3')
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa-stack-1x.fa-inverse.icon-postpartum
        h4.service-heading Postpartum Care
        ul.text-muted.text-left
          li Up to two hours support immediately after birth to provide breastfeeding support and encourage bonding
          li One postpartum visit in your first weeks home with baby to check-in on how everyone is settling in as well as mom and baby’s well-being and to assist you in processing your birth experience