// Services
section#services
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Services
        h3.section-subheading.text-muted Lorem ipsum dolor sit amet consectetur.
    .row.text-center
      .col-md-4
        //- a(data-toggle='modal', href='#servicesModal1')
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa-stack-1x.fa-inverse.icon-prenatal
        h4.service-heading Prenatal Care
        p.text-muted
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .col-md-4
        //- a(data-toggle='modal', href='#servicesModal2')
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa-stack-1x.fa-inverse.icon-childbirth
        h4.service-heading Labor and Delivery
        p.text-muted
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
      .col-md-4
        //- a(data-toggle='modal', href='#servicesModal3')
        span.fa-stack.fa-4x
          i.fa.fa-circle.fa-stack-2x.text-primary
          i.fa-stack-1x.fa-inverse.icon-postpartum
        h4.service-heading Postpartum Follow-Up
        p.text-muted
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.