section#start-here.bg-light-gray
  .container
    .row
      .col-lg-12.text-center
        h2.section-heading Start Here
        h3.section-subheading.text-muted Congratulations on your expected new arrival! 
    .row
      .col-md-6
        p.text-muted Thank you for stopping by! If you are an expectant parent, you know you’re in the right place if…
        ul.text-muted
          li You view the task ahead of you as both exciting and terrifying at the same time.
          li You want <i>more</i> out of your pregnancy and childbirth experience.
          li You see pregnancy, childbirth and parenthood as an opportunity for self-growth and discovery.
        p.text-muted Helping you navigate these waters from bump to new baby is where I come in. Whether you’re an expectant mother (or you love an expectant mother), my purpose is to wholeheartedly support you throughout your birth experience so that you feel nurtured, confident and empowered to embrace this new role as a parent and your baby with open arms.
      .col-md-6
        img.img-responsive(src="http://res.cloudinary.com/calebscloud/image/upload/c_crop,w_3400,x_0/v1506347320/pregnant_1.jpg")